<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="container">
    <hr>
    <hr>
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="/upload"
          method="post">
        <div class="form-group">
            <label class="col-md-4 control-label">CSV File</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                    <input name="file" placeholder="files" class="form-control" type="file" id="inputFileToLoad" required>
                </div>
            </div>
        </div>
        <p style="color:red;"><%= title%></p>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class=" btn btn-success btn-lg">Upload</button>
                <button type="reset" class="btn btn-warning btn-lg">Reset</button>
            </div>
        </div>
        <span id = "status"></span>
    </form>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#uploadForm').submit(function() {
                $("#status").empty().text("File is uploading...");
                $(this).ajaxSubmit({
                    error: function(xhr) {
                        console.log(xhr)
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                return false;
            });
        });
    </script>
    <% include footer %>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>